extends layout

block main
    section.namecard
        .namecard-login
            if name
                p.namecard-greeting Hey #{name}!
                form.namecard-exit(action='/goodbye', method='post')
                    button(type='submit')
                        img(src='/static/img/close.svg')
            else
                p.namecard-greeting How's it goin ya hoser?
        block intro
    block card